<!doctype html>
<html>
<head>
       <title>Meadowlark Travel</title>
        {{{_sections.head}}}
</head>
<body>
    <header><img src="/images/trump.jpg" alt="Meadowlark logo"/> </header>
    {{{body}}}
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {{{_sections.jquery}}}

    {{#if flash}}
        <div class="alert alert-dismissible alert-{{flash.type}}">
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">&times;</button>
            <strong>{{flash.intro}}</strong> {{{flash.message}}}
        </div>
    {{/if}}
</body>
</html>